* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: block;
}

body {
  position: relative;
  background-color: #eee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
  display: block;
}

div {
  display: block;
}
/* global classes */

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 3px;
  background: transparent;
  cursor: pointer;
}
.btn:hover {
  cursor: pointer;
  background-color: darkorange;

  transform: scale(1.1);
}

.grid {
  display: flex;
}

/* Header Style */
#header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
}

.logo > img {
  width: 100%;
  height: 100%;
  max-width: 300px;
}

.logo {
  width: 60vw;
}

#nav-bar {
  font-weight: 400;
}

#nav-bar > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* Section Heading Style */

#membership {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
}
#membership > h2 {
  padding-bottom: 20px;
}
input[type="email" i] {
  width: 100%;
  max-width: 280px;
  padding: 12px;
  border-radius: 5px;
  border: none;
}
/* #email {
  border-radius: 20px;
} */

input[type="submit"] {
  max-width: 160px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
}

#submit {
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
}
/* Container Style */

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

/* Section Features */
#features {
  margin-top: 30px;
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: darkorange;
}

#features .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

/* icons */

.fa,
.fas {
  font-weight: 900;
}

.fa,
.fas,
.far {
  font-family: "Font Awesome 5 Free ";
}
.fa-3x {
  font-size: 3em;
}
.fa-fire::before {
  content: "\f06d";
}
.fa-truck::before {
  content: "\f0d1";
}
.fa-battery-full {
  content: "\f240";
}

/* How It Works Section */
#how-it-works {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#how-it-works > iframe {
  max-width: 560px;
  width: 100vw;
}

/* Pricing Section */

#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
  border: 1px solid black;
}

.product > .level {
  background-color: #ddd;
  padding: 15px 0;
  color: black;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.product > h2 {
  margin-top: 15px;
}

.product > ol {
  padding: 15px 0;
}

.product > ol > li {
  padding: 5px 0;
}

.product > input {
  margin: 15px 0;
  border: none;
  font-weight: 400;
  background-color: #f1c40f;
}

/* footer style */

footer {
  margin-top: 30px;
  padding: 20px;
  background-color: #ddd;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  font-size: 0.9em;
  color: #444;
  display: flex;
  justify-content: flex-end;
}

/* Responsive website */
@media (max-width: 550px) {
  #features .icon {
    display: none;
  }
  #features .description {
    width: 100%;
    text-align: center;
    height: 150px;
    padding: 20px;
    line-height: 1.2em;
  }
  #features h2 {
    margin-bottom: 5px;
  }
  #features p {
    line-height: 2em;
  }
  footer ul,
  footer span {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
  .logo > img {
    margin: 0 auto;
  }
  .logo {
    margin-top: 15px;
    position: relative;
    width: 100%;
  }
}
@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
  .logo > img {
    margin: 0 auto;
  }
  #membership {
    margin-top: 120px;
  }
  #nav-bar {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0 50px;
  }
  #nav-bar > ul {
    flex-direction: column;
  }
  #nav-bar > ul > li {
    padding-bottom: 5px;
  }
  #features {
    margin-top: 0;
  }
}
@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
